alias man='nocorrect man'
alias cd='nocorrect cd'
alias cp='nocorrect cp'
alias _='sudo'
alias b='${(z)BROWSER}'
alias cp="${aliases[cp]:-cp} -i"
alias e='${(z)VISUAL:-${(z)EDITOR}}'
#alias e='nvim'
alias ln="${aliases[ln]:-ln} -i"
alias mkdir="${aliases[mkdir]:-mkdir} -p"
alias mv="${aliases[mv]:-mv} -i"
alias rm="${aliases[rm]:-rm} -i"
alias type='type -a'
alias ls='ls -fGH'

# Tmux
alias tml="tmux list-sessions"
alias tma="tmux -2 attach -t"
alias tmk="tmux kill-session -t"

alias weather="curl wttr.in?m"

# Global dirs
alias proj="cd ~/projects"

# Arch stuff
# REQUIRE pacaur
alias pac_clean="sudo pacman -Rns $(pacman -Qtdq)"
alias pac_up="sudo pacaur -Syu"

# Misc.
alias init_nvm='source /usr/share/nvm/init-nvm.sh'

# Anon gist and copy link to clipboard
gista() {
  gist -a $1 | xsel --clipboard
}

# Make alias work in sudo
alias sudo='sudo '

source ~/.aliases.local
